[defaults]
interpreter_python = auto_silent
ansible_python_interpreter = auto_silent
stdout_callback = yaml
stderr_callback = yaml
inventory = ./environments/exercise/inventory.yml
roles_path = ./roles/vendor:./roles
vault_password_file = ~/.ansible/secret

[ssh_connection]
retries = 3
